body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.MuiCard-root {
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.MuiAppBar-root {
  background-color: #1976d2; /* MUI primary blue */
}

.MuiButton-contained {
  background-color: #1976d2;
}

.MuiButton-contained:hover {
  background-color: #115293;
}
